In [1]:
import os
os.chdir("../..")  # Move one level up  
print(os.getcwd())

/Users/malthepabst/Documents/GitHub/Thesis_Neurodiversity

In [ ]:
from nilearn import image as nimg
import numpy as np
import pandas as pd

In [83]:
img_small = nimg.load_img('data.nosync/Yeo2011_7Networks_MNI152_FreeSurferConformed1mm_LiberalMask.nii.gz')
img_small = img_small.get_fdata()

img_large = nimg.load_img('data.nosync/Yeo2011_17Networks_MNI152_FreeSurferConformed1mm_LiberalMask.nii.gz')
img_large = img_large.get_fdata()

size_of_roi = {}
for i in np.unique(img_small):
    size_of_roi[i] = img_small[img_small == i].shape[0]

overlab_data = []

for i in np.unique(img_large):
    temp = {'ROI': i}
    for key, value in size_of_roi.items():
        temp[f"ROI_{key}"] = (img_small[(img_small == key) & (img_large == i)].shape[0]/value)*100
    overlab_data.append(temp)

data = pd.DataFrame(overlab_data)

data[data>5]

,ROI,ROI_0.0,ROI_1.0,ROI_2.0,ROI_3.0,ROI_4.0,ROI_5.0,ROI_6.0,ROI_7.0
0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,51.303128,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,33.054285,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,47.744957,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,39.711986,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,11.023706,NaN,39.640954,NaN,NaN,NaN,NaN
6,6.0,NaN,NaN,NaN,36.564695,NaN,NaN,NaN,NaN
7,7.0,NaN,NaN,NaN,NaN,59.075853,NaN,NaN,NaN
8,8.0,NaN,NaN,NaN,NaN,27.588068,NaN,20.105061,NaN
9,9.0,NaN,NaN,NaN,NaN,NaN,55.372080,NaN,NaN
10,10.0,NaN,NaN,NaN,NaN,NaN,38.775842,NaN,NaN
11,11.0,NaN,NaN,NaN,NaN,NaN,NaN,7.256388,NaN
12,12.0,NaN,NaN,NaN,17.265349,NaN,NaN,30.558327,NaN
13,13.0,NaN,NaN,NaN,NaN,NaN,NaN,38.970252,7.948858
14,14.0,NaN,NaN,6.400462,NaN,6.450727,NaN,NaN,6.559105
15,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.854908
17,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.867125

In [86]:
img_small = nimg.load_img('data.nosync/Yeo2011_17Networks_MNI152_FreeSurferConformed1mm_LiberalMask.nii.gz')
img_small = img_small.get_fdata()

img_large = nimg.load_img('data.nosync/Yeo2011_7Networks_MNI152_FreeSurferConformed1mm_LiberalMask.nii.gz')
img_large = img_large.get_fdata()

size_of_roi = {}
for i in np.unique(img_small):
    size_of_roi[i] = img_small[img_small == i].shape[0]

overlab_data = []

for i in np.unique(img_large):
    temp = {'ROI':i}
    for key, value in size_of_roi.items():
        temp[f"ROI_{key}"] = (img_small[(img_small == key) & (img_large == i)].shape[0]/value)*100
    overlab_data.append(temp)

data = pd.DataFrame(overlab_data)

data[data>5].T

,0,1,2,3,4,5,6,7
ROI,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,7.000000
ROI_0.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ROI_1.0,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
ROI_2.0,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
ROI_3.0,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN
ROI_4.0,NaN,NaN,97.017802,NaN,NaN,NaN,NaN,NaN
ROI_5.0,NaN,28.769109,NaN,71.230891,NaN,NaN,NaN,NaN
ROI_6.0,NaN,NaN,11.049025,82.203576,6.747399,NaN,NaN,NaN
ROI_7.0,NaN,NaN,5.201684,NaN,94.736688,NaN,NaN,NaN
ROI_8.0,NaN,NaN,NaN,NaN,47.580047,NaN,49.284350,NaN
ROI_9.0,NaN,NaN,NaN,NaN,NaN,98.975461,NaN,NaN
ROI_10.0,NaN,NaN,NaN,NaN,NaN,90.954608,NaN,6.272556
ROI_11.0,NaN,5.806508,NaN,18.384352,NaN,NaN,49.434260,22.647136
ROI_12.0,NaN,NaN,NaN,30.261955,NaN,NaN,67.801234,NaN
ROI_13.0,NaN,NaN,NaN,NaN,NaN,NaN,75.814047,23.989330
ROI_14.0,NaN,NaN,29.029443,NaN,20.510881,NaN,NaN,45.985104
ROI_15.0,NaN,32.206630,NaN,12.075155,NaN,8.741666,NaN,42.929740
ROI_16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.674388
ROI_17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.341636